<?xml version="1.0" encoding="UTF-8"?>
<!--
 beanstalk: A minimalistic PHP beanstalk client

 Copyright (c) 2009-2014 David Persson

 Distributed under the terms of the MIT License.
 Redistributions of files must retain the above copyright notice.
-->
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 syntaxCheck="false"
		 bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="PHP">
			<directory suffix="Test.php">tests/integration</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="TEST_EXECUTION" value="true" />
		<const name="TEST_SERVER_HOST" value="127.0.0.1" />
		<const name="TEST_SERVER_PORT" value="11301" />
	</php>
</phpunit>
